:root {
  --icon-1: 12 76% 61%;
  --icon-2: 173 58% 39%;
  --icon-3: 197 37% 24%;
  --icon-4: 43 70% 56%;
  --icon-5: 27 87% 67%;
}

.dark {
  --icon-1: 12 76% 61%;
  --icon-2: 173 58% 39%;
  --icon-3: 197 37% 24%;
  --icon-4: 43 70% 56%;
  --icon-5: 27 87% 67%;
}
